<footer class="footer">
  <div class="footer-inner">
      
      <div class="footer-top">
          <a href="https://cambridgeaudio.com" target="_blank">
              <img class="footer-top--logo" src="{{asset 'CA_Master_Logo_darkgrey_CMYK.png'}}" alt="Cambridge Audio">
          </a>
          <div class="footer-top--bottom">
              <a href="https://www.cambridgeaudio.com/legal/privacy-and-cookie-policy" target="_blank">Privacy & cookie policy</a>

              <span class="footer-bottom--copy"> | Cambridge Audio Registered in England Gallery Court, Hankey Place, London SE1 4BB</span>
          </div>

      </div>

  </div>
</footer>
