<header class="header">
  <div class="logo">
      <a href="https://cambridgeaudio.com" target="_blank">
          <img src="{{asset 'CA_Master_Logo_darkgrey_CMYK.png'}}" alt="https://cambridgeaudio.com">
      </a>
    {{#link 'help_center'}}Support Site{{/link}}
  </div>
  <div class="nav-wrapper">
    <button class="menu-button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
      </svg>
    </button>
    <nav class="user-nav" id="user-nav">
      {{link 'new_request' class='submit-a-request'}}
    </nav>
      {{user_info}}
  </div>
</header>
