<section class="section hero">
  <div class="hero-inner">
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</section>

<div class="container">

    <div id="homepageTopArticle" class="homepage--top__article">
        <h1>How can we help?</h1>
        <p>Simply use the search bar above to learn more about your product.</p>
        <p>Still have a question? Get in contact with our dedicated technical support team by <a href="https://techsupport.cambridgeaudio.com/hc/en-us/requests/new" target="_blank">submitting a request here</a>.</p>
    </div>

    <div class="lds-css ng-scope" id="spinner">
        <div class="lds-spinner" style="width:100%;height:100%"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
    <div id="articlesContent" class="articles-content hidden">
        <h1 class="featured-title">Featured Articles</h1>
        <div id="promotedArticles" class="promoted-articles"></div>

        <h1 class="featured-title">Recent Activity</h1>
        <ul id="recentActivity"></ul>
        <button id="more" class="see-more hidden">See more</button>
    </div>
</div>

<div id="homepageBottomArticle" class="homepage--bottom__article">
    <p><strong>A member of our team will aim to respond to your query within 48 hours, Monday to Friday.</strong></p>
    <p>UK Office: 9am - 5pm (GMT)<br>US Office: 9am - 5pm (CDT)<br>Hong Kong Office: 9am - 5pm (HKT)</p>
</div>