<section class="section hero">
    <div class="hero-inner">
        {{search submit=false instant=settings.instant_search class='search search-full'}}
    </div>
</section>

<div class="container">

    <div id="homepageTopArticle" class="homepage--top__article">
        <h1>How can we help?</h1>
        <p>Simply use the search bar above to learn more about your product.</p>
        <p>Still have a question? Get in contact with our dedicated technical support team by <a href="https://techsupport.cambridgeaudio.com/hc/en-us/requests/new" target="_blank">submitting a request here</a>.</p>
    </div>

    <div class="homepage_category_section_wrapper">
      <div class="homepage_category_section">
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000181418-Melomania-1" class="image_link">
          <img src="{{asset 'melo.png'}}" alt="https://cambridgeaudio.com">
          <h3 class="homepage">Melomania</h3>
        </a>

{{!--         <ul class="article-list"> --}}

{{!--           <div class="article-list-item"> --}}
{{!--             <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360001784218-Melomania-1-Manual" class="homepage_list_item"> --}}
{{!--               <h4>Melomania 1 - Manual</h4> --}}
{{!--             </a> --}}
{{!--           </div> --}}

{{!--           <div class="article-list-item"> --}}
{{!--             <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360001511317-How-do-I-reset-the-Melomania-1-" class="homepage_list_item"> --}}
{{!--               <h4>How do I reset the Melomania 1</h4> --}}
{{!--             </a> --}}
{{!--           </div> --}}

{{!--           <div class="article-list-item"> --}}
{{!--             <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360001592257-Only-one-of-my-Melomania-1-earphones-is-working-How-can-I-get-the-other-paired-" class="homepage_list_item"> --}}
{{!--               <h4>Only one of my Melomania 1 earphones is working. How can I get the other paired?</h4> --}}
{{!--             </a> --}}
{{!--           </div> --}}
{{!--         </ul> --}}
      </div>

      <div class="homepage_category_section">
        <a href="#" class="image_link">
          <img src="https://theme.zdassets.com/theme_assets/1259807/66b9c06d8abd021d0c4058f5a031fc0de5f67c2f.png" alt="https://cambridgeaudio.com">
          <h3 class="homepage">Network Music Players</h3>
        </a>

        <ul class="article-list">
          <div class="article-list-item">
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000051785-Edge-NQ" class="homepage_list_item">
              <h4>Edge NQ</h4>
            </a>
          </div>

          <div class="article-list-item">
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200426912-Azur-851N" class="homepage_list_item">
              <h4>851N</h4>
            </a>
          </div>

          <div class="article-list-item">
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002119597-CXN-v1-" class="homepage_list_item">
              <h4>CXN v1</h4>
            </a>
          </div>

          <div class="article-list-item">
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200401111-CXN-v2-" class="homepage_list_item">
              <h4>CXN v2</h4>
            </a>
          </div>

          <div class="article-list-item">
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200401111-CXN-v2-" class="homepage_list_item">
              <h4>CXN v2 Series 2</h4>
            </a>
          </div>

          <div class="article-list-item">
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/sections/360000022578-Archive-Network-Players" class="homepage_list_item">
              <h4>NP30</h4>
            </a>
          </div>

          <div class="article-list-item">
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/sections/360000022578-Archive-Network-Players" class="homepage_list_item">
              <h4>Minx Xi</h4>
            </a>
          </div>

          <div class="article-list-item">
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/sections/360000022578-Archive-Network-Players" class="homepage_list_item">
              <h4>Stream Magic 6 v1</h4>
            </a>
          </div>

          <div class="article-list-item">
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/sections/360000022578-Archive-Network-Players" class="homepage_list_item">
              <h4>Stream Magic 6 v2</h4>
            </a>
          </div>

        </ul>
      </div>

      <div class="homepage_category_section dropdown">

        <a href="#" id='hifi' class="image_link">
          <img src="{{asset 'cxn.jpg'}}" alt="https://cambridgeaudio.com">
          <h3 class="homepage">Hi-Fi</h3>
        </a>

{{!--         <ul class="article-list"> --}}
{{!--           <div class="article-list-item"> --}}
{{!--             <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360002695458-CXA61-81-Manual" class="homepage_list_item"> --}}
{{!--               <h4>CXA61/81 - Manual</h4> --}}
{{!--             </a> --}}
{{!--           </div> --}}

{{!--           <div class="article-list-item"> --}}
{{!--             <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360006654518-USB-Audio-Driver-v4-82-Download" class="homepage_list_item"> --}}
{{!--               <h4>USB Audio Driver v4.82 - Download</h4> --}}
{{!--             </a> --}}
{{!--           </div> --}}

{{!--           <div class="article-list-item"> --}}
{{!--             <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360001758557-AXR85-AXR100-Manual" class="homepage_list_item"> --}}
{{!--               <h4>AXR85/AXR100 Manual</h4> --}}
{{!--             </a> --}}
{{!--           </div> --}}

{{!--         </ul> --}}
      </div>

{{!--       <div id="drop" class='drop'> --}}
{{!--         <div class="column"> --}}
{{!--             <p> --}}
{{!--                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet, lectus vel laoreet malesuada, purus purus laoreet nulla, non mattis tellus arcu fringilla turpis. Nam tellus nunc, malesuada sed risus non, rutrum consequat justo. Sed lacinia tristique interdum. In est ex, luctus non fermentum eget, fermentum sit amet eros. Praesent egestas ac elit vel fringilla. Nullam est lectus, suscipit sit amet egestas non, imperdiet vitae nunc. Etiam convallis est cursus ex posuere, vel accumsan elit imperdiet. Nullam a nulla eu magna tristique tincidunt. Curabitur mi arcu, efficitur in quam in, fermentum semper nisl. Aliquam vel urna nec turpis vehicula vulputate at a neque. Pellentesque mattis, purus imperdiet sagittis commodo, enim metus dapibus massa, at volutpat est dolor quis libero. Proin viverra purus risus, quis pretium arcu aliquet id. Pellentesque eget justo eget diam iaculis sollicitudin. Morbi tellus mi, suscipit eget euismod at, feugiat vitae dui. --}}
{{!--             </p> --}}
{{!--         </div> --}}

{{!--         <div class="column"> --}}
{{!--             <p> --}}
{{!--                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet, lectus vel laoreet malesuada, purus purus laoreet nulla, non mattis tellus arcu fringilla turpis. Nam tellus nunc, malesuada sed risus non, rutrum consequat justo. Sed lacinia tristique interdum. In est ex, luctus non fermentum eget, fermentum sit amet eros. Praesent egestas ac elit vel fringilla. Nullam est lectus, suscipit sit amet egestas non, imperdiet vitae nunc. Etiam convallis est cursus ex posuere, vel accumsan elit imperdiet. Nullam a nulla eu magna tristique tincidunt. Curabitur mi arcu, efficitur in quam in, fermentum semper nisl. Aliquam vel urna nec turpis vehicula vulputate at a neque. Pellentesque mattis, purus imperdiet sagittis commodo, enim metus dapibus massa, at volutpat est dolor quis libero. Proin viverra purus risus, quis pretium arcu aliquet id. Pellentesque eget justo eget diam iaculis sollicitudin. Morbi tellus mi, suscipit eget euismod at, feugiat vitae dui. --}}
{{!--             </p> --}}
{{!--         </div> --}}

{{!--         <div class="column"> --}}
{{!--             <p> --}}
{{!--                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet, lectus vel laoreet malesuada, purus purus laoreet nulla, non mattis tellus arcu fringilla turpis. Nam tellus nunc, malesuada sed risus non, rutrum consequat justo. Sed lacinia tristique interdum. In est ex, luctus non fermentum eget, fermentum sit amet eros. Praesent egestas ac elit vel fringilla. Nullam est lectus, suscipit sit amet egestas non, imperdiet vitae nunc. Etiam convallis est cursus ex posuere, vel accumsan elit imperdiet. Nullam a nulla eu magna tristique tincidunt. Curabitur mi arcu, efficitur in quam in, fermentum semper nisl. Aliquam vel urna nec turpis vehicula vulputate at a neque. Pellentesque mattis, purus imperdiet sagittis commodo, enim metus dapibus massa, at volutpat est dolor quis libero. Proin viverra purus risus, quis pretium arcu aliquet id. Pellentesque eget justo eget diam iaculis sollicitudin. Morbi tellus mi, suscipit eget euismod at, feugiat vitae dui. --}}
{{!--             </p> --}}
{{!--         </div> --}}
{{!--       </div> --}}

      <div class="homepage_category_section">
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002121497" class="image_link">
          <img src="https://theme.zdassets.com/theme_assets/1259807/66b9c06d8abd021d0c4058f5a031fc0de5f67c2f.png" alt="https://cambridgeaudio.com">
          <h3 class="homepage">Where to Buy?</h3>
        </a>
      </div>

      <div class="homepage_category_section">
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002110897" class="image_link">
          <img src="https://theme.zdassets.com/theme_assets/1259807/66b9c06d8abd021d0c4058f5a031fc0de5f67c2f.png" alt="https://cambridgeaudio.com">
          <h3 class="homepage">Orders &amp; Delivery</h3>
        </a>
      </div>

      <div class="homepage_category_section">
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002110937-Warranty-Returns" class="image_link">
          <img src="https://theme.zdassets.com/theme_assets/1259807/66b9c06d8abd021d0c4058f5a031fc0de5f67c2f.png" alt="https://cambridgeaudio.com">
          <h3 class="homepage">Warranty &amp; Returns</h3>
        </a>
      </div>

    </div>


    </div>

{{!--     <div class="lds-css ng-scope" id="spinner"> --}}
{{!--         <div class="lds-spinner" style="width:100%;height:100%"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> --}}
{{!--     </div> --}}
{{!--     <div id="articlesContent" class="articles-content hidden"> --}}
{{!--         <h1 class="featured-title">Featured Articles</h1> --}}
{{!--         <div id="promotedArticles" class="promoted-articles--wrapper"> --}}
{{!--             <ul id="promotedArticlesList" class="promoted-articles"></ul> --}}
{{!--         </div> --}}
{{!--         <button id="morePromoted" class="see-more hidden">Show more</button> --}}

{{!--         <h1 class="featured-title">Recent Activity</h1> --}}
{{!--         <div id="recentActivity" class="recent-articles--wrapper"> --}}
{{!--             <ul id="recentActivityList"></ul> --}}
{{!--         </div> --}}
{{!--         <button id="moreRecent" class="see-more hidden">Show more</button> --}}
{{!--     </div> --}}
</div>

<div id="homepageBottomArticle" class="homepage--bottom__article">
    <p><strong>A member of our team will aim to respond to your query within 48 hours, Monday to Friday.</strong></p>
    <p>UK Office: 9am - 5pm (GMT)<br>US Office: 9am - 5pm (CDT)<br>Hong Kong Office: 9am - 5pm (HKT)</p>
</div>