<section class="section hero">
<div id="homepageTopArticle" class="homepage--top__article">
        <h1>How can we help?</h1>
        <p>Simply use the search bar beneath to learn more about your product.</p>
        <p>Still have a question? Get in contact with our dedicated technical support team by <a href="https://techsupport.cambridgeaudio.com/hc/en-us/requests/new" target="_blank">submitting a request here</a>.</p>
    </div>
    <div class="hero-inner">
        {{search submit=false instant=settings.instant_search class='search search-full'}}
    </div>
</section>

<div class="container">

{{!--     <div id="homepageTopArticle" class="homepage--top__article"> --}}
{{!--         <h1>How can we help?</h1> --}}
{{!--         <p>Simply use the search bar above to learn more about your product.</p> --}}
{{!--         <p>Still have a question? Get in contact with our dedicated technical support team by <a href="https://techsupport.cambridgeaudio.com/hc/en-us/requests/new" target="_blank">submitting a request here</a>.</p> --}}
{{!--     </div> --}}

    <div id='homepageCatWrapper' class="homepage_category_section_wrapper">
        <div class="homepage_category_section_wrapper">

        <div class="homepage_category_section">
            <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000181418-Melomania-1" id='meloButton' class="image_link">
              <img src="{{asset 'melo.jpg'}}" alt="https://cambridgeaudio.com">
              <h3 class="homepage">Melomania</h3>
            </a>
            <ul class="visible-list">
                            <li><a href='https://techsupport.cambridgeaudio.com/hc/en-us/articles/360001511317-How-do-I-reset-the-Melomania-1-'>How do I reset the Melomania 1?</a></li>
                            <li><a href='https://techsupport.cambridgeaudio.com/hc/en-us/articles/360001592257-Only-one-of-my-Melomania-1-earphones-is-working-How-can-I-get-the-other-paired-'>Only one of my Melomania 1 earphones is working. How can I get the other paired?</a></li>
                        </ul>
        </div>

          <div class="homepage_category_section">
            <a id="networkStream" href="#" class="image_link">
              <img src="{{asset 'network.jpg'}}" alt="https://cambridgeaudio.com">
              <h3 id='networkTitle' class="homepage network-title">Network Streamers</h3>
            </a>
            <ul id="networkDrop" class="visible-list network-drop">
                <li>
                        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000051785-Edge-NQ" class="homepage_list_item">
                          <h4>Edge NQ</h4>
                        </a>
                      </li>
                      <li>
                        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200426912-Azur-851N" class="homepage_list_item">
                          <h4>851N</h4>
                        </a>
                      </li>
                      <li>
                        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002119597-CXN-v1-" class="homepage_list_item">
                          <h4>CXN v1</h4>
                        </a>
                      </li>
                      <li>
                        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200401111-CXN-v2-" class="homepage_list_item">
                          <h4>CXN v2</h4>
                        </a>
                      </li>
                      <li>
                        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200401111-CXN-v2-" class="homepage_list_item">
                          <h4>CXN v2 Series 2</h4>
                        </a>
                      </li>

                      <li>
                        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/sections/360000022578-Archive-Network-Players" class="homepage_list_item">
                          <h4>Minx Xi</h4>
                        </a>
                      </li>
                      <li>
                        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/sections/360000022578-Archive-Network-Players" class="homepage_list_item">
                          <h4>NP30</h4>
                        </a>
                      </li>
                      <li>
                        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/sections/360000022578-Archive-Network-Players" class="homepage_list_item">
                          <h4>Stream Magic 6 v1</h4>
                        </a>
                      </li>
                      <li>
                        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/sections/360000022578-Archive-Network-Players" class="homepage_list_item">
                          <h4>Stream Magic 6 v2</h4>
                        </a>
                      </li>
            </ul>
          </div>

      <div class="homepage_category_section">
        <a href="#" id='hifiButton' class="action image_link">
          <img src="{{asset 'hifi.jpg'}}" alt="https://cambridgeaudio.com">
          <h3 id="hifiButtonTitle" class="hifi-button homepage">Hi-Fi</h3>
        </a>
      </div>

<div id="hiFiDrop" class="column-container">
  <div class="column">
    <a href="#" class="submenu">
      <h3>Network Music Players</h3>
    </a>
    <ul>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000051785-Edge-NQ" class="homepage_list_item">
          <h4>Edge NQ</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200426912-Azur-851N" class="homepage_list_item">
          <h4>851N</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002119597-CXN-v1-" class="homepage_list_item">
          <h4>CXN v1</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200401111-CXN-v2-" class="homepage_list_item">
          <h4>CXN v2</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200401111-CXN-v2-" class="homepage_list_item">
          <h4>CXN v2 Series 2</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/sections/360000022578-Archive-Network-Players" class="homepage_list_item">
          <h4>Minx Xi</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/sections/360000022578-Archive-Network-Players" class="homepage_list_item">
          <h4>NP30</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/sections/360000022578-Archive-Network-Players" class="homepage_list_item">
          <h4>Stream Magic 6 v1</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/sections/360000022578-Archive-Network-Players" class="homepage_list_item">
          <h4>Stream Magic 6 v2</h4>
        </a>
      </li>
    </ul>
  </div>

  <div class="column">
    <a href="#" class="submenu">
      <h3>Amplifiers</h3>
    </a>
    <ul>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000051149-Edge-A" class="homepage_list_item">
          <h4>Edge A</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200418872-CXA60-CXA80" class="homepage_list_item">
          <h4>CXA60</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000286037-CXA61-CXA81" class="homepage_list_item">
          <h4>CXA61</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200418872-CXA60-CXA80" class="homepage_list_item">
          <h4>CXA80</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000286037-CXA61-CXA81" class="homepage_list_item">
          <h4>CXA81</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200114842-Azur-851A" class="homepage_list_item">
          <h4>851 A</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000198057-AXA25" class="homepage_list_item">
          <h4>AXA25</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000205298-AXA35" class="homepage_list_item">
          <h4>AXA35</h4>
        </a>
      </li>
    </ul>
  </div>

  <div class="column">
    <a href="#" class="submenu">
      <h3>Power Amplifiers</h3>
    </a>
    <ul>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000051169-Edge-W" class="homepage_list_item">
          <h4>Edge W</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200113451-Azur-851W" class="homepage_list_item">
          <h4>851 W</h4>
        </a>
      </li>
    </ul>
  </div>

{{!--   <div class="column"> --}}
{{!--       <a href="#" class="submenu"> --}}
{{!--         <h3>Apps</h3> --}}
{{!--       </a> --}}
{{!--       <ul> --}}
{{!--         <li> --}}
{{!--                     <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000549738-StreamMagic-App" class="homepage_list_item"> --}}
{{!--                       <h4>StreamMagic</h4> --}}
{{!--                     </a> --}}
{{!--                   </li> --}}
{{!--                   <li> --}}
{{!--                     <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000021617-Cambridge-Connect-App" class="homepage_list_item"> --}}
{{!--                       <h4>Cambridge Connect</h4> --}}
{{!--                     </a> --}}
{{!--                   </li> --}}
{{!--       </ul> --}}
{{!--     </div> --}}

{{!--     <div class="column"> --}}
{{!--           <a href="#" class="submenu"> --}}
{{!--             <h3>Headphones</h3> --}}
{{!--           </a> --}}
{{!--           <ul> --}}
{{!--             <li> --}}
{{!--                         <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000181418-Melomania-1" class="homepage_list_item"> --}}
{{!--                           <h4>Melomania 1</h4> --}}
{{!--                         </a> --}}
{{!--                       </li> --}}
{{!--           </ul> --}}
{{!--         </div> --}}

{{!--         <div class="column"> --}}
{{!--                   <a href="#" class="submenu"> --}}
{{!--                     <h3>Wireless Speakers</h3> --}}
{{!--                   </a> --}}
{{!--                   <ul> --}}
{{!--                     <li> --}}
{{!--                                 <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200675402-Air-V2" class="homepage_list_item"> --}}
{{!--                                   <h4>Air 100 v2</h4> --}}
{{!--                                 </a> --}}
{{!--                               </li> --}}
{{!--                               <li> --}}
{{!--                                 <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200675402-Air-V2" class="homepage_list_item"> --}}
{{!--                                   <h4>Air 200 v2</h4> --}}
{{!--                                 </a> --}}
{{!--                               </li> --}}
{{!--                               <li> --}}
{{!--                                 <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200225372-Bluetone-100" class="homepage_list_item"> --}}
{{!--                                   <h4>Bluetone 100</h4> --}}
{{!--                                 </a> --}}
{{!--                               </li> --}}
{{!--                               <li> --}}
{{!--                                 <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/201286892-G2" class="homepage_list_item"> --}}
{{!--                                   <h4>Go v2</h4> --}}
{{!--                                 </a> --}}
{{!--                               </li> --}}
{{!--                               <li> --}}
{{!--                                 <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000033605-YOYO-L-" class="homepage_list_item"> --}}
{{!--                                   <h4>Yoyo (L)</h4> --}}
{{!--                                 </a> --}}
{{!--                               </li> --}}
{{!--                               <li> --}}
{{!--                                 <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/201649765-YOYO-M-" class="homepage_list_item"> --}}
{{!--                                   <h4>Yoyo (M)</h4> --}}
{{!--                                 </a> --}}
{{!--                               </li> --}}
{{!--                               <li> --}}
{{!--                                 <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/201625249-YOYO-S-" class="homepage_list_item"> --}}
{{!--                                   <h4>Yoyo (S)</h4> --}}
{{!--                                 </a> --}}
{{!--                               </li> --}}
{{!--                   </ul> --}}
{{!--                 </div> --}}


  <div class="column">
    <a href="#" class="submenu">
      <h3>AV Receivers</h3>
    </a>
    <ul>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200418852-CXR120-CXR200" class="homepage_list_item">
          <h4>CXR120</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200418852-CXR120-CXR200" class="homepage_list_item">
          <h4>CXR200</h4>
        </a>
      </li>
    </ul>
  </div>

  <div class="column">
    <a href="#" class="submenu">
      <h3>Stereo Receivers</h3>
    </a>
    <ul>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/360011049838-AXR100D-Manual" class="homepage_list_item">
          <h4>AXR100 D</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000217318-AXR85-AXR100-AXR100D" class="homepage_list_item">
          <h4>AXR100</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000217318-AXR85-AXR100-AXR100D" class="homepage_list_item">
          <h4>AXR85</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200113481-Topaz-AM10" class="homepage_list_item">
          <h4>AM10</h4>
        </a>
    </ul>
  </div>

  <div class="column">
    <a href="#" class="submenu">
      <h3>CD Players</h3>
    </a>
    <ul>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200113511-Azur-851C" class="homepage_list_item">
          <h4>851 C</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000205338-AXC25-AXC35" class="homepage_list_item">
          <h4>AXC25</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000205338-AXC25-AXC35" class="homepage_list_item">
          <h4>AXC35</h4>
        </a>
      </li>
    </ul>
  </div>

  <div class="column">
    <a href="#" class="submenu">
      <h3>CD Transport</h3>
    </a>
    <ul>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200401151-CXC" class="homepage_list_item">
          <h4>CXC</h4>
        </a>
      </li>
    </ul>
  </div>

  <div class="column">
    <a href="#" class="submenu">
      <h3>All in one systems</h3>
    </a>
    <ul>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200126632-One" class="homepage_list_item">
          <h4>One (CDRX30)</h4>
        </a>
      </li>
    </ul>
  </div>

  <div class="column">
    <a href="#" class="submenu">
      <h3>Speakers</h3>
    </a>
    <ul>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200113631-Aeromax" class="homepage_list_item">
          <h4>Aeromax 2</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200120392-Aero" class="homepage_list_item">
          <h4>Aero 3</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200120392-Aero" class="homepage_list_item">
          <h4>Aero 5</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200113631-Aeromax" class="homepage_list_item">
          <h4>Aeromax 6</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200553871-In-Ceiling-Speakers" class="homepage_list_item">
          <h4>C46</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200553871-In-Ceiling-Speakers" class="homepage_list_item">
          <h4>C155</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200553871-In-Ceiling-Speakers" class="homepage_list_item">
          <h4>C165</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200553871-In-Ceiling-Speakers" class="homepage_list_item">
          <h4>C165SS</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200582352-Outdoor-Speakers" class="homepage_list_item">
          <h4>ES20</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200582352-Outdoor-Speakers" class="homepage_list_item">
          <h4>ES30</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200582352-Outdoor-Speakers" class="homepage_list_item">
          <h4>Minx Min 12</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200397242-Minx-Min-Bookshelf-Speakers" class="homepage_list_item">
          <h4>Minx Min 22</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000091057-Minx-XL-Bookshelf-Speakers" class="homepage_list_item">
          <h4>Minx XL</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200120402-SX" class="homepage_list_item">
          <h4>SX80</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200120402-SX" class="homepage_list_item">
          <h4>SX70</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200120402-SX" class="homepage_list_item">
          <h4>SX60</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200120402-SX" class="homepage_list_item">
          <h4>SX50</h4>
        </a>
      </li>
    </ul>
  </div>

  <div class="column">
    <a href="#" class="submenu">
      <h3>TV Speakers</h3>
    </a>
    <ul>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/115000055049-TV2-V2-" class="homepage_list_item">
          <h4>TV2 v2</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/115000054105-TV5-V2-" class="homepage_list_item">
          <h4>TV5 v2</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200810332-TVB2" class="homepage_list_item">
          <h4>TVB2 v2</h4>
        </a>
      </li>
    </ul>
  </div>

  <div class="column">
    <a href="#" class="submenu">
      <h3>Subwoofers</h3>
    </a>
    <ul>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200120392-Aero" class="homepage_list_item">
          <h4>Aero 9</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200120402-SX" class="homepage_list_item">
          <h4>SX120</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000093638-Minx-X201-X301-Subwoofer" class="homepage_list_item">
          <h4>Minx X201</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000093638-Minx-X201-X301-Subwoofer" class="homepage_list_item">
          <h4>Minx X301</h4>
        </a>
      </li>
    </ul>
  </div>

  <div class="column">
    <a href="#" class="submenu">
      <h3>Phono Stages</h3>
    </a>
    <ul>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/115000891849-Solo-Duo" class="homepage_list_item">
          <h4>Alva Solo</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/115000891849-Solo-Duo" class="homepage_list_item">
          <h4>Alva Duo</h4>
        </a>
      </li>
    </ul>
  </div>

  <div class="column">
    <a href="#" class="submenu">
      <h3>Turntables</h3>
    </a>
    <ul>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000094977-Alva-TT" class="homepage_list_item">
          <h4>Alva TT</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/115000891849-Solo-Duo" class="homepage_list_item">
          <h4>Alva Duo</h4>
        </a>
      </li>
    </ul>
  </div>

  <div class="column">
    <a href="#" class="submenu">
      <h3>DACs</h3>
    </a>
    <ul>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200114912-DacMagic-100" class="homepage_list_item">
          <h4>DacMagic 100</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200113531-DacMagic-Plus" class="homepage_list_item">
          <h4>DacMagic Plus</h4>
        </a>
      </li>
      <li>
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200111012-DacMagic-XS" class="homepage_list_item">
          <h4>DacMagic XS</h4>
        </a>
      </li>
    </ul>
  </div>
</div>

{{!--       <div class="homepage_category_section"> --}}
{{!--         <a href="#" class="action image_link"> --}}
{{!--           <img src="https://theme.zdassets.com/theme_assets/1259807/66b9c06d8abd021d0c4058f5a031fc0de5f67c2f.png" alt="https://cambridgeaudio.com"> --}}
{{!--           <h3>Pre-Amplifiers</h3> --}}
{{!--         </a> --}}


{{!--       </div> --}}

{{!--           <div class="article-list-item"> --}}
{{!--             <a href="#" class="inner-list homepage_list_item"> --}}
{{!--               <h4>Headphones</h4> --}}
{{!--             </a> --}}
{{!--             <ul class="article-list"> --}}
{{!--               <div class="article-list-item"> --}}
{{!--                 <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000181418-Melomania-1" class="homepage_list_item"> --}}
{{!--                   <h4>Melomania 1</h4> --}}
{{!--                 </a> --}}
{{!--               </div> --}}
{{!--             </ul> --}}
{{!--           </div> --}}

{{!--           <div class="article-list-item"> --}}
{{!--               <a href="#" class="inner-list homepage_list_item"> --}}
{{!--                 <h4>Wireless Speakers</h4> --}}
{{!--               </a> --}}
{{!--               <ul class="article-list"> --}}
{{!--                 <div class="article-list-item"> --}}
{{!--                   <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200675402-Air-V2" class="homepage_list_item"> --}}
{{!--                     <h4>Air 100 v2</h4> --}}
{{!--                   </a> --}}
{{!--                 </div> --}}
{{!--                 <div class="article-list-item"> --}}
{{!--                   <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200675402-Air-V2" class="homepage_list_item"> --}}
{{!--                     <h4>Air 200 v2</h4> --}}
{{!--                   </a> --}}
{{!--                 </div> --}}

{{!--                 <div class="article-list-item"> --}}
{{!--                   <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200225372-Bluetone-100" class="homepage_list_item"> --}}
{{!--                     <h4>Bluetone 100</h4> --}}
{{!--                   </a> --}}
{{!--                 </div> --}}

{{!--                 <div class="article-list-item"> --}}
{{!--                   <a href="https://techsupport.cambridgeaudio.com/hc/en-us/articles/201286892-G2" class="homepage_list_item"> --}}
{{!--                     <h4>Go v2</h4> --}}
{{!--                   </a> --}}
{{!--                 </div> --}}

{{!--                 <div class="article-list-item"> --}}
{{!--                   <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360000033605-YOYO-L-" class="homepage_list_item"> --}}
{{!--                     <h4>Yoyo (L)</h4> --}}
{{!--                   </a> --}}
{{!--                 </div> --}}

{{!--                 <div class="article-list-item"> --}}
{{!--                   <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/201649765-YOYO-M-" class="homepage_list_item"> --}}
{{!--                     <h4>Yoyo (M)</h4> --}}
{{!--                   </a> --}}
{{!--                 </div> --}}

{{!--                 <div class="article-list-item"> --}}
{{!--                   <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/201625249-YOYO-S-" class="homepage_list_item"> --}}
{{!--                     <h4>Yoyo (S)</h4> --}}
{{!--                   </a> --}}
{{!--                 </div> --}}

{{!--                 <div class="article-list-item"> --}}
{{!--                   <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/200675402-Air-V2" class="homepage_list_item"> --}}
{{!--                     <h4>Air 100 v2</h4> --}}
{{!--                   </a> --}}
{{!--                 </div> --}}
{{!--               </ul> --}}
{{!--             </div> --}}

{{!--         </ul> --}}

{{!--       </div> --}}

      <div class="homepage_category_section">
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002121497" class="image_link">
{{!--           <img src="https://theme.zdassets.com/theme_assets/1259807/66b9c06d8abd021d0c4058f5a031fc0de5f67c2f.png" alt="https://cambridgeaudio.com"> --}}
          <h3 class="homepage">Where to Buy?</h3>
        </a>
      </div>

      <div class="homepage_category_section">
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002110897" class="image_link">
{{!--           <img src="https://theme.zdassets.com/theme_assets/1259807/66b9c06d8abd021d0c4058f5a031fc0de5f67c2f.png" alt="https://cambridgeaudio.com"> --}}
          <h3 class='homepage'>Orders &amp; Delivery</h3>
        </a>
      </div>

      <div class="homepage_category_section">
        <a href="https://techsupport.cambridgeaudio.com/hc/en-us/categories/360002110937-Warranty-Returns" class="image_link">
{{!--           <img src="https://theme.zdassets.com/theme_assets/1259807/66b9c06d8abd021d0c4058f5a031fc0de5f67c2f.png" alt="https://cambridgeaudio.com"> --}}
          <h3 class='homepage'>Warranty &amp; Returns</h3>
        </a>
      </div>

    </div>


    </div>

{{!--     <div class="lds-css ng-scope" id="spinner"> --}}
{{!--         <div class="lds-spinner" style="width:100%;height:100%"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div> --}}
{{!--     </div> --}}
{{!--     <div id="articlesContent" class="articles-content hidden"> --}}
{{!--         <h1 class="featured-title">Featured Articles</h1> --}}
{{!--         <div id="promotedArticles" class="promoted-articles--wrapper"> --}}
{{!--             <ul id="promotedArticlesList" class="promoted-articles"></ul> --}}
{{!--         </div> --}}
{{!--         <button id="morePromoted" class="see-more hidden">Show more</button> --}}

{{!--         <h1 class="featured-title">Recent Activity</h1> --}}
{{!--         <div id="recentActivity" class="recent-articles--wrapper"> --}}
{{!--             <ul id="recentActivityList"></ul> --}}
{{!--         </div> --}}
{{!--         <button id="moreRecent" class="see-more hidden">Show more</button> --}}
{{!--     </div> --}}
</div>

<div id="homepageBottomArticle" class="homepage--bottom__article">
    <p><strong>A member of our team will aim to respond to your query within 48 hours, Monday to Friday.</strong></p>
    <p>UK Office: 9am - 5pm (GMT)<br>US Office: 9am - 5pm (CDT)<br>Hong Kong Office: 9am - 5pm (HKT)</p>
</div>