/***** Header *****/

@import "variables";


$header-height: 71px;

.header {
  @include max-width-container;
  position: relative;
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;

  img {
    max-height: 37px;
    width: 100px;

    @include tablet{
      width:145px;
    }
  }

  a[title="Home"] {
    text-transform: uppercase;
    margin-left: 25px;
    letter-spacing: 2px;
    font-size: 12px;
    color: #56565a;

    @include tablet{
      font-size: 14px;
    }
  }
}

.user-nav {
  @include tablet { position: relative; }
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  white-space: nowrap;

  &[aria-expanded="true"] {
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15), 0 4px 10px 0 rgba(0, 0, 0, .1);
    border: solid 1px #ddd;
    right: 0;
    left: 0;
    top: $header-height;
    z-index: 1;

    > a {
      display: block;
      margin: 20px;
    }
  }

  .submit-a-request{
    padding: 25px 10px !important;
    letter-spacing: 2px;
  }
}

.nav-wrapper {
  display:flex;
  align-items: center;
  a {
    @include tablet {
      display: inline-block;
    }

    transition: all 0.4s ease;
    border: 0;
    color: $link_color;
    display: none;
    font-size: 14px;
    padding: 0 20px 0 0;
    width: auto;

    [dir="rtl"] & { padding: 0 0 0 20px;}

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: #fff;
      background: $link_color;
    }

    &.login {
      display: inline-block;
      padding: 20px 10px;
      border-radius: 0;
      letter-spacing: 2px;
    }
  }

  .menu-button {
    @include tablet { display: none; }
    background: none;
    border: 0;
    color: $link_color;
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    width: auto;

    .icon-menu {
      vertical-align: middle;
      width: 13px;
      height: 13px;
    }

    [dir="rtl"] & {
      margin-left: 10px;
      margin-right: 0;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
      color: $link_color;
    }
  }
}

.user-avatar{
  margin-left:10px;
}