/***** Homepage *****/


@import "variables";


.section {
  @include tablet {
    margin-bottom: 60px;
  }

  margin-bottom: 40px;
}

.home-section h2 {
  margin-bottom: 10px;
  text-align: left;
}

.articles{
  h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 22px;
  }
}

/***** Promoted articles *****/

.promoted-articles {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &-item {
    @include desktop {
      flex: 0 0 auto;
      width: 100%;

      [dir="rtl"] & { padding: 0 0 0 30px; }
    }

    flex: 1 0 auto;

    &:nth-child(3n) {
      padding-right: 0;
    }

    a {
      display: block;
      border-bottom: 1px solid $border-color;
      padding: 15px 0;
      color: $text_color;
    }

    .icon-lock::before {
      vertical-align: baseline;
    }
  }

}

/***** Community section in homepage *****/
.community {
  text-align: center;

  &-image {
    min-height: 300px;
    //background-image: url($community_image);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
  }
}

.community,
.activity {
  padding: 30px 0;
}

.homepage--top__article{
  color: #fff;
  text-shadow: 2px 2px 2px black;
  width:100%;

  h1{
    font-size: 70px;
    margin: 0;
  }

  p{
    font-size: 18px;

    a{
      color: #00c3ef;
      &:hover{
        color: #00d9ff;
        text-decoration: none;
      }
    }
  }
}

.homepage--bottom__article{
  width: 100%;
  color: #56565a;
  text-align: center;
  padding: 15px 0 30px;

  p{
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}

//.recent-activity-item{
//  display: flex;
//  flex-direction: column-reverse;
//}
//
//.recent-activity-item-meta{
//  display: none;
//}
//
//.recent-activity-item-parent{
//  font-size: 14px!important;
//}
//
//.recent-activity-item-link{
//  font-size: 16px!important;
//}
//
//.list-element--item{
//  display: flex;
//  flex-direction: column-reverse;
//  border-bottom: 1px solid #ddd;
//  overflow: auto;
//  padding: 20px 0;
//}
//
//.featured-title{
//  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
//  font-weight: 400;
//  font-size: 22px;
//}
//
//.promoted-articles-list{
//  width:100%;
//}
//
.hidden{
  display: none!important;
}
//
//.arrow-separator {
//  margin: 0 10px;
//  color: #9c9c9c;
//}
//
//.breadcrumbs-wrapper {
//  display: flex;
//  flex-direction: row-reverse;
//  justify-content: flex-end;
//  a{
//    color: #9c9c9c;
//  }
//}


.open{
  height: auto!important;
}

.list-element--item{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
  overflow: auto;
  padding: 20px 0;
  width:100%;

  a{
    font-size: 16px!important;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
}

.list-element--item__section-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  a{
    color: #9c9c9c;

    &:first-of-type{
      &::after{
        content: '>';
        margin: 0 10px;
      }
    }
  }
}

.see-more{
  margin:25px 0;
  background: none;
  box-shadow: none;
  border: 1px solid #56565a;
  color: #56565a;
  text-transform: uppercase;

  &:hover{
    background: #56565a;
    color: #fff;
  }
}

.article-link {
  color: #626262!important;
}

.promoted-articles--wrapper,
.recent-articles--wrapper{
  transition: all .3s ease-in-out
}

///////////////////////
// Spinner
//////////////////////

.lds-css{
  margin:auto;
  width: 50px;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.lds-spinner {
  position: relative;
}
.lds-spinner div {
  left: 95px;
  top: 51px;
  position: absolute;
  -webkit-animation: lds-spinner linear 1s infinite;
  animation: lds-spinner linear 1s infinite;
  background: #5b5b5b;
  width: 10px;
  height: 22px;
  border-radius: 200%;
  -webkit-transform-origin: 5px 49px;
  transform-origin: 5px 49px;
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -0.916666666666667s;
  animation-delay: -0.916666666666667s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -0.833333333333333s;
  animation-delay: -0.833333333333333s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.666666666666667s;
  animation-delay: -0.666666666666667s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.583333333333333s;
  animation-delay: -0.583333333333333s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.416666666666667s;
  animation-delay: -0.416666666666667s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.333333333333333s;
  animation-delay: -0.333333333333333s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.166666666666667s;
  animation-delay: -0.166666666666667s;
}
.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.083333333333333s;
  animation-delay: -0.083333333333333s;
}
.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-spinner {
  width: 51px !important;
  height: 51px !important;
  -webkit-transform: translate(-25.5px, -25.5px) scale(0.255) translate(25.5px, 25.5px);
  transform: translate(-25.5px, -25.5px) scale(0.255) translate(25.5px, 25.5px);
}
.homepage_category_section_wrapper {
  display: flex;
  flex-wrap: wrap;
}

.homepage_category_section {
  flex: 1 0 310px;
  padding: 9px;
  margin: 10px auto;
  display: block;
  border: 1px solid #ffffff;
  width: 30%;

  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
}

a.homepage_category_title_link {
  color: grey;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: black;
    text-decoration: none;
    transition: text-decoration 0.21s;
  }
}

h3.homepage {
  margin: 0;
  font-size: 20px;
  color: white;
  background-color: black;
  text-align: center;
  transition: background-color 0.2s;
  text-decoration: none;
  font-weight: 390;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.article-list {
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all ease-in 600ms;
}

.article-list-item {
  padding: 0 0 5px 0 !important;
  text-decoration: none;
  transition: text-decoration 0.21s;

  h4 {
    font-size: 16px;
    color: #898989;
    margin-bottom: 0;
    margin-left: 20px;
  }
}

.image_link {
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  ul{
    opacity: 0;
    height: 0;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.drop {
  height: 0;
  opacity: 0;
  overflow: hidden;
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  transition: all ease-in 600ms;

  .column{
    width: 30%;
    text-align: justify;

    &:nth-child(4n+1){
      padding-left: 10px;
    }
  }
}


.homepage--categories__wrapper{
  display: flex;
  flex-wrap: wrap;
}


.column-container{
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  overflow: hidden;
  height: 0;
  transition: height ease-in 300ms;

  .column{
    width: 30%;
    *{
      color: #777;
    }

    ul{
      height: 0;
      overflow: hidden;
      transition: height ease-in 300ms;
      margin-left:25px;

      ul{
        margin-left:20px;

        a{
          font-weight: 100;
        }
      }
    }
  }
}

.show {
  height: auto!important;
  opacity:1!important;
}

.show-submenu{
  height: auto!important;
  opacity:1!important;
  display: flex!important;
  flex-direction: column!important;
  margin-left:20px;
}
.show-submenu-small{
  height: auto!important;
  opacity:1!important;
  display: flex!important;
  flex-direction: column!important;
  margin-left:20px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.hifi-button:after {
  content: "\002B";
  color: #ffff;
  font-weight: bold;
  position: absolute;
  right: 20px;
}

.visible-list{
  padding: 10px 0;

  li{
    margin: 2px 0;
    font-size: 16px;

    a{
      color: #777;
    }
  }
}

.submenu,
.submenu-small{
  h3{
    position: relative;
    color: #777;
    &:after{
      content: "\002B";
      color: #777;
      font-weight: bold;
      position: absolute;
      right: 20px;
    }
  }
}

.hifi-button-active:after {
  content: "\2212"!important;
}

.network-title{
  &:after{
    content: "\002B";
    color: #ffff;
    font-weight: bold;
    position: absolute;
    right: 20px;
  }
}

.network-button-active:after{
  content: "\2212"!important;
}

.submenu-small h3{
}

.section.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-inner{
  width: 100%;
  margin-top: 60px;
  top:0!important;
  max-width: unset;

  @include tablet{
    width: 60%;
    margin-top: 120px;
  }
}

.search{
  max-width: unset;
}

.search-full input[type="search"]{
  font-size: 23px;
  height:60px;
}

.network-drop{
  overflow: hidden;
  height: 0;
  transition: height ease-in 300ms;
  margin: 10px 0 0 10px;
  padding: 0;
}